.main-banner__serch{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search__button{
	@include btn-primary($white, $jungleGreen, large);
}

.select__number{
	display: none;
	
 	&:checked + .number__option {
		color: $bigStone;
		border: 2px solid $white;
		background-color: $white;
	}
	
}

.select__title{
	font-size: 14px;
	line-height: 17px;
	color: $white;
	margin-bottom: 7px;
	font-weight: bold;
}

.number__option{
	border-radius: 50%;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border: 2px solid rgba(255, 255, 255, 0.9);
	text-align: center;
	font-size: 14px;
	color: $white;
	margin-right: 10px;
	cursor: pointer;
	
	&:hover {
		color: $bigStone;
		border: 2px solid $white;
		background-color: $white;
	}
}



